
<div class="caption">
    <div class="product-detail">
        <h3 class="product-summary-name">Producto: {{name}}<h3>
        <h3 class="product-summary-name">Description: {{description}}<h3>
        <h5 class="product-summary-name">Price: {{price}}<h5>
        <h5 class="product-summary-name">Reviews: {{review}}<h5>
        <h5>Descuento: {{discount}}</h5>
        <h5>Horarios : {{business_info}}</h5>
    </div>

    <a href="/service/getvendors/{{_id}}" class="btn btn-primary">Buy Now!</a>

    <!-- <h4>Selecione su fecha</h4>

    <form name="rsvp" id="rsvp" method="post">
        <input type="hidden" name="productId" value="{{_id}}">
        <p>fecha: <input type="text" id="datepicker" name="datepicker"></p>
        <p>Hora : <input type="text" id="timepicker" name="timepicker" /></p>

        <input type="submit" />
    </form> -->
    <script src="/public/js/rsvp-calendar.js"></script>

</div>
